<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <title>To Do List</title>
</head>

<body>
    <div class="box" id="heading">
        <h1><%= listTitle%></h1>
    </div>

    <div class="box">
        <% for(let i=0;i<todoArray.length; i++){ %>
        <div class="item">
            <input type="checkbox" name="complete">
            <p class="item"><%=todoArray[i]%></p>
        </div>
        <% } %>

        <form class="item" action="/" method="POST">
            <input type="text" name="newTodo" placeholder="New Item" autocomplete="off"/>
            <button type="submit" name="list" value=<%=listTitle%>>+</button>
        </form>
    </div>

</body>

</html>